.header {
  color: white;
  text-align: center;
  padding-bottom: 0.5rem;
  height: auto !important;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  h1 {
    color: white;
    font-size: 2.5rem;
    margin: 0 auto;
  }

  .style-logo {
    min-width: 64px;
    width: 15%;
  }
}
